<%- include('../partials/header') %>

<h1>Fridge</h1>
<table>
    <label>Meats</label>
    <% items.forEach(function(i) { %>
        <% if (i.category === 'Meats') { %>
            <form action="/items/<%= i.id %>?_method=DELETE"
                id="delete-form" method="POST">
                <button type='submit'>X</button>
            </form>
            <form action="/items/<%= i.id %>/edit?_method=GET"
                id="edit-form" method="POST">
                <button type='submit'>?</button>
            </form>
            <%= i.item %> -
            <%= i.quantity %> -
            <%= i.expiration %> -
        <% } %>
    <% }) %>
    <label>Dairy/Cheeses</label>
    <% items.forEach(function(i) { %>
        <% if (i.category === 'Dairy/Cheeses') { %>
            <form action="/items/<%= i.id %>?_method=DELETE"
                id="delete-form" method="POST">
                <button type='submit'>X</button>
            </form>
            <form action="/items/<%= i.id %>/edit?_method=GET"
                id="edit-form" method="POST">
                <button type='submit'>?</button>
            </form>
            <%= i.item %> -
            <%= i.quantity %> -
            <%= i.expiration %> -
        <% } %>
    <% }) %>
    <label>Vegetables</label>
    <% items.forEach(function(i) { %>
        <% if (i.category === 'Vegetables') { %>
            <form action="/items/<%= i.id %>?_method=DELETE"
                id="delete-form" method="POST">
                <button type='submit'>X</button>
            </form>
            <form action="/items/<%= i.id %>/edit?_method=GET"
                id="edit-form" method="POST">
                <button type='submit'>?</button>
            </form>
            <%= i.item %> -
            <%= i.quantity %> -
            <%= i.expiration %> -
        <% } %>
    <% }) %>
    <label>Fruits</label>
    <% items.forEach(function(i) { %>
        <% if (i.category === 'Fruits') { %>
            <form action="/items/<%= i.id %>?_method=DELETE"
                id="delete-form" method="POST">
                <button type='submit'>X</button>
            </form>
            <form action="/items/<%= i.id %>/edit?_method=GET"
                id="edit-form" method="POST">
                <button type='submit'>?</button>
            </form>
            <%= i.item %> -
            <%= i.quantity %> -
            <%= i.expiration %> -
        <% } %>
    <% }) %>
    <label>Condiments</label>
    <% items.forEach(function(i) { %>
        <% if (i.category === 'Condiments') { %>
            <form action="/items/<%= i.id %>?_method=DELETE"
                id="delete-form" method="POST">
                <button type='submit'>X</button>
            </form>
            <form action="/items/<%= i.id %>/edit?_method=GET"
                id="edit-form" method="POST">
                <button type='submit'>?</button>
            </form>
            <%= i.item %> -
            <%= i.quantity %> -
            <%= i.expiration %> -
        <% } %>
    <% }) %>
    <label>Other</label>
    <% items.forEach(function(i) { %>
        <% if (i.category === 'Other') { %>
            <form action="/items/<%= i.id %>?_method=DELETE"
                id="delete-form" method="POST">
                <button type='submit'>X</button>
            </form>
            <form action="/items/<%= i.id %>/edit?_method=GET"
                id="edit-form" method="POST">
                <button type='submit'>?</button>
            </form>
            <%= i.item %> -
            <%= i.quantity %> -
            <%= i.expiration %> -
        <% } %>
    <% }) %>
</table>

<%- include('../partials/footer') %>