<%- include('../partials/header') %>

    <div id="pantry">
        <h1 class="odd">P</h1>
        <h1 class="even">A</h1>
        <h1 class="odd">N</h1>
        <h1 class="even">T</h1>
        <h1 class="odd">R</h1>
        <h1 class="even">Y</h1>
    </div>
    <div class="table" id="pantry-body">
        <div class="row">
            <section class="cell">
                <h2 class="h2-item">Pasta/Grains</h2>
                    <ul>
                        <% items.forEach(function(i) { %>
                            <% if (i.category === 'Pasta/Grains') { %>
                                <li>
                                    <%= i.item %> -
                                    <%= i.quantity %> -
                                    <%= i.expiration %>
                                    <form action="/items/<%= i.id %>?_method=DELETE"
                                        id="delete-form" method="POST">
                                        <button type='submit'>X</button>
                                    </form>
                                    <a href="/items/<%= i.id %>/edit"
                                        id="edit-form">
                                        <button type='submit'>✎</button>
                                    </a>
                                </li>
                            <% } %>
                        <% }) %>
                    </ul>
            </section>
            <section class="cell">
                <h2 class="h2-item">Sauces</h2>
                    <ul>
                        <% items.forEach(function(i) { %>
                            <% if (i.category === 'Sauces') { %>
                                <li>
                                    <%= i.item %> -
                                    <%= i.quantity %> -
                                    <%= i.expiration %>
                                    <form action="/items/<%= i.id %>?_method=DELETE"
                                        id="delete-form" method="POST">
                                        <button type='submit'>X</button>
                                    </form>
                                    <a href="/items/<%= i.id %>/edit"
                                        id="edit-form">
                                        <button type='submit'>✎</button>
                                    </a>
                                </li>
                            <% } %>
                        <% }) %>
                    </ul>
            </section>
            <section class="cell">
                <h2 class="h2-item">Spices</h2>
                    <ul>
                        <% items.forEach(function(i) { %>
                            <% if (i.category === 'Spices') { %>
                                <li>
                                    <%= i.item %> -
                                    <%= i.quantity %> -
                                    <%= i.expiration %>
                                    <form action="/items/<%= i.id %>?_method=DELETE"
                                        id="delete-form" method="POST">
                                        <button type='submit'>X</button>
                                    </form>
                                    <a href="/items/<%= i.id %>/edit"
                                        id="edit-form">
                                        <button type='submit'>✎</button>
                                    </a>
                                </li>
                            <% } %>
                        <% }) %>
                    </ul>
            </section>
        </div>
        <div class="row">
            <section class="cell">
                <h2 class="h2-item">Cans</h2>
                    <ul>
                        <% items.forEach(function(i) { %>
                            <% if (i.category === 'Cans') { %>
                                <li>
                                    <%= i.item %> -
                                    <%= i.quantity %> -
                                    <%= i.expiration %>
                                    <form action="/items/<%= i.id %>?_method=DELETE"
                                        id="delete-form" method="POST">
                                        <button type='submit'>X</button>
                                    </form>
                                    <a href="/items/<%= i.id %>/edit"
                                        id="edit-form">
                                        <button type='submit'>✎</button>
                                    </a>
                                </li>
                            <% } %>
                        <% }) %>
                    </ul>
            </section>
            <section class="cell">
                <h2 class="h2-item">Snacks</h2>
                    <ul>
                        <% items.forEach(function(i) { %>
                            <% if (i.category === 'Snacks') { %>
                                <li>
                                    <%= i.item %> -
                                    <%= i.quantity %> -
                                    <%= i.expiration %>
                                    <form action="/items/<%= i.id %>?_method=DELETE"
                                        id="delete-form" method="POST">
                                        <button type='submit'>X</button>
                                    </form>
                                    <a href="/items/<%= i.id %>/edit"
                                        id="edit-form">
                                        <button type='submit'>✎</button>
                                    </a>
                                </li>
                            <% } %>
                        <% }) %>
                    </ul>
            </section>
            <section class="cell">
                <h2 class="h2-item">Breakfast Foods</h2>
                    <ul>
                        <% items.forEach(function(i) { %>
                            <% if (i.category === 'Breakfast Foods') { %>
                                <li>
                                    <%= i.item %> -
                                    <%= i.quantity %> -
                                    <%= i.expiration %>
                                    <form action="/items/<%= i.id %>?_method=DELETE"
                                        id="delete-form" method="POST">
                                        <button type='submit'>X</button>
                                    </form>
                                    <a href="/items/<%= i.id %>/edit"
                                        id="edit-form">
                                        <button type='submit'>✎</button>
                                    </a>
                                </li>
                            <% } %>
                        <% }) %>
                    </ul>
            </section>
        </div>
        <div class="row">
            <section class="cell">
                <h2 class="h2-item">Dry Ingredients</h2>
                    <ul>
                        <% items.forEach(function(i) { %>
                            <% if (i.category === 'Dry Ingredients') { %>
                                <li>
                                    <%= i.item %> -
                                    <%= i.quantity %> -
                                    <%= i.expiration %>
                                    <form action="/items/<%= i.id %>?_method=DELETE"
                                        id="delete-form" method="POST">
                                        <button type='submit'>X</button>
                                    </form>
                                    <a href="/items/<%= i.id %>/edit"
                                        id="edit-form">
                                        <button type='submit'>✎</button>
                                    </a>
                                </li>
                            <% } %>
                        <% }) %>
                    </ul>
            </section>
            <section class="cell">
                <h2 class="h2-item">Wet Ingredients</h2>
                    <ul>
                        <% items.forEach(function(i) { %>
                            <% if (i.category === 'Wet Ingredients') { %>
                                <li>
                                    <%= i.item %> -
                                    <%= i.quantity %> -
                                    <%= i.expiration %>
                                    <form action="/items/<%= i.id %>?_method=DELETE"
                                        id="delete-form" method="POST">
                                        <button type='submit'>X</button>
                                    </form>
                                    <a href="/items/<%= i.id %>/edit"
                                        id="edit-form">
                                        <button type='submit'>✎</button>
                                    </a>
                                </li>
                            <% } %>
                        <% }) %>
                    </ul>
            </section>
            <section class="cell">
                <h2 class="h2-item">Other</h2>
                    <ul>
                        <% items.forEach(function(i) { %>
                            <% if (i.category === 'Other') { %>
                                <li>
                                    <%= i.item %> -
                                    <%= i.quantity %> -
                                    <%= i.expiration %>
                                    <form action="/items/<%= i.id %>?_method=DELETE"
                                        id="delete-form" method="POST">
                                        <button type='submit'>X</button>
                                    </form>
                                    <a href="/items/<%= i.id %>/edit"
                                        id="edit-form">
                                        <button type='submit'>✎</button>
                                    </a>
                                </li>
                            <% } %>
                        <% }) %>
                    </ul>
            </section>
        </div>
    </div>

<%- include('../partials/footer') %>